@charset "UTF-8";
@import "normalize.css";
@import "nprogress.css";
@import "anim.scss";

%ellipsis {
  display:block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin hengpai($font:14px,$zhong:middle,$div:div){
  font-size: 0;
  >#{$div}{
    font-size:$font;
    display: inline-block;
    vertical-align: $zhong;
  }
}

@mixin lists($width,$value,$font:14px) {
  padding: 0 $value/2;
  font-size: 0;
  @include hengpai($font);
  >div {
    width: 100% / $width - $value;
    margin: 0 $value/2;
  }
}

body{
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.home{
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  >div{
   padding: 10px;
  }
}
.index_caidan{
  >a{
    padding: 10px;
  }
}
.index_tiaozhuan{
  color: #008adf;
  cursor: pointer;
}
.page{
  text-align: center;
  padding: 20px;
}
.head{
  text-align: center;
  font-size: 24px;
}
.list{
  @include lists(4,2%);
  >div{
    vertical-align: top;
    font-size: 13px;
    padding: 10px 0;
    >div{
      width: 90%;
      margin: 0 auto;
    }
  }

}
.list_tit{
  font-size: 16px;
  @extend %ellipsis;
  padding: 6px 0;
}
.list_img{
  text-align: center;
  img{
    width: 100%;
  }
}