{
    'table|1-10': [
        {
            'id|100-1000': 100,
            'name|1': ['A','B','C','D','E','F','G','H','I','J','K','L','M','N'],
            'height|50-300': 50,
            'weight|50-100.1-10': 50,
            'age|1-100': 1,
            'email': '@EMAIL'
        }
    ]  
}